@font-face {
  font-family: font;
  src: url(../public/font/TT\ Hoves\ Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background-color: rgb(241, 240, 238);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(187, 184, 184);
  border-radius: 2rem;
}

